@charset "UTF-8";

body {
	background-color: white;
	color: rgba(0,0,0,1);
}
 p {
	 text-align: justify;
 }
h1 { 
	text-align: center;
	}
		
table#tabela_contato {
	text-align: center;
}
table#tabela_formacao {
}