@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
@import url(https://fonts.googleapis.com/css?family=Tillana);
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Orbitron');


html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
div#interface {
	/*background-image: url(_imagens/fundo_menor.jpg);*/
	width: 100%;
	}

/*---------------------------cabecalho-------------------------*/	
header#cabecalho {
	position: relative;
	width: 100%;
	height: 100px;
	/*border-bottom: 5px #212121 solid;*/
	/*background:#2196f3;*/
	background: #FFA631;

}
/*header#cabecalho h1 {
	font-family: 'Orbitron', sans-serif;
	text-align: center;
	font-size: 30pt;
	padding-top:30px;
	padding-bottom: 20px;
	margin: 0;
}*/
/*header#cabecalho h1:hover {
	background-color:rgba(0,0,0,.1);
}*/
/*---------------------------foto--------------------------------*/
/*	figure.foto {
		width:400px;
		position: relative;
		border: 8px solid white;
		box-shadow: 1px 1px 4px black;
	}*/
	
img {
	margin-left:-20px;
	border-radius:50%;
	width: 350px;
	height: 350px;
	overflow: hidden;
	background:#004d40;
	border:1px solid ;
	box-shadow: 1px 1px 4px black;
}
figure.foto figcaption {
	color: #ffffff;
}
/*.redondo img {
	position: absolute;
  bottom: 0;
  width: 100%;
}*/

/*-------------------------texto lateral----------------------------*/

aside#lateral_esquerda {
	display:block;
	float:left;
	height:900px;
	width:500px;
	background: black;
	
}
aside#lateral_direita {
	display: block;
	width:600px;
	float: right;
	margin-right:50px;
	margin-bottom:10px;
	padding-left:50px;
	/*border-left:5px #212121 solid;*/
}
section#corpo {
	display: block;
	float: left;
	width:650px;
}

/*-------------------------TABELAS-------------------------------*/

/*caption {
		background: #4B77BE;
		color:#ffffff;
		font-family: 'Orbitron', sans-serif;
		font-size:16pt;
		font-style:bolder;
		height:30px;
		padding-top: 25px;
}
table#tabela_contato {
	text-align: justify;
	text-align:center;
	width:500px;
	margin-top:20px;
	border-spacing: 0px;
	border-color:#4B77BE;
	}
table#tabela_contato p {
	background:#317589;
	color:#ffffff;
	font-size:15pt;
	font-style: bold;
}
table#tabela_contato td {
	font-family: 'Orbitron', sans-serif;
	font-style: bolder;	
}
table#tabela_endereco {
	border-color:#4B77BE;
	margin-top:20px;
	width:500px;
	text-align:center;
	border-spacing: 0px;
}
table#tabela_endereco td {
	font-family: 'Orbitron', sans-serif;
	font-style: bolder;
	font-size:12pt;
}
table#tabela_formacao {
	margin-top:20px;
	font-family: 'Orbitron', sans-serif;
	width:500px;
	text-align:center;
	border-spacing: 0px;
	border-color:#4B77BE;
}
table#tabela_formacao td {
	font-family: 'Orbitron', sans-serif;
	font-style: bolder;
	font-size:12pt;
}

table#tabela_experiencia {
	text-align:center;
	border-color:#4B77BE;
	margin-top:20px;
	font-family: 'Orbitron', sans-serif;
	width:500px;
	border-spacing: 0px;

}
table#tabela_experiencia td {
	color: #ffffff;
	font-family: 'Orbitron', sans-serif;
	font-style: bolder;
	font-size:12pt;
	/*background-color:#dddddd;
	color: rgba(0,0,0,1);
}
/*table#tabela_cursos {
	border-color:#4B77BE;
	text-align:center;
	margin-top:20px;
	font-family: 'Orbitron', sans-serif;
	width:500px;
	border-spacing: 0px;

}
table#tabela_cursos td {
	font-family: 'Orbitron', sans-serif;
	font-size:12pt;
	font-style:bolder;
	
}*/
/*------------------------rodape---------------------------------*/
footer#rodape  {
	height: 50px;
	font-family: 'Orbitron', sans-serif;
	clear: both;
	text-align: center;
	/*border-top:5px #212121 solid;*/
	/*background-color:#2196f3;*/
	background: #F5AB35;
	padding-top: 5px;
}
